[submodule "Train"]
	path = Train
	url = https://github.com/yagmurozcaan/Train.git
[submodule "train_model"]
	path = train_model
	url = https://github.com/yagmurozcaan/train_model.git
	branch = main

